<!DOCTYPE html>
<html>
<head>
    <title>Vending Machine - Login</title>
</head>
<body>
    <h1>Welcome to the Vending Machine</h1>

    <h3>Select Existing User</h3>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Enter Username" required>
        <button type="submit" name="action" value="login">Login</button>
    </form>

    <hr>

    <h3>Create New User</h3>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="New Username" required>
        <input type="number" name="balance" placeholder="Starting Balance" required>
        <button type="submit" name="action" value="create">Register</button>
    </form>
    <footer>
    <p>Architecture: <strong>{{ stack }}</strong></p>
    <p>For more information please visit <a href="https://www.jirivasm.dev/home-lab">https://www.jirivasm.dev/home-lab</a></p>
    <p>Next feature will be to add a sql database for users and learn how two microservices communicate</p>
    </footer>
</body>
</html>