<!DOCTYPE html>
<html>
<head>
    <title>Vending Machine - Login V2.0</title>
</head>
<body>
    <h1>Welcome to the Vending Machine V 3.0</h1>

    <h3>Select Existing User</h3>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Enter Username" required>
        <button type="submit" name="action" value="login">Login</button>
    </form>

    <hr>

    <h3>Create New User</h3>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="New Username" required>
        <input type="number" name="balance" placeholder="Starting Balance" required>
        <button type="submit" name="action" value="create">Register</button>
    </form>
    <footer>
    <p>Architecture: <strong>{{ stack }}</strong></p>
    <p>For more information please visit <a href="https://www.jirivasm.dev/home-lab">https://www.jirivasm.dev/home-lab</a></p>
    <p>Next feature will be to add <strong> Hardening </strong> 🔒 Implementing Trivy for image scanning in the CI pipeline.
       Transitioning to HashiCorp Vault for robust secrets management.
       Enforcing Open Policy Agent (OPA) for policy as code and strict network isolation policies.</p>
    </footer>
</body>
</html>